agentops
aiofiles==23.2.1
aiohttp>=3.9.0
anthropic==0.18.1
anytree
apscheduler
argon2-cffi
beautifulsoup4==4.12.3
bcrypt
black
boto3~=1.34.69
channels==4.0.0
chardet
chromadb
curl-cffi~=0.7.0
dashscope~=1.19.3
docx2txt
fake_useragent
fastapi
fire==0.4.0
flask
flask_cors
gitignore-parser==0.1.9
gitpython==3.1.40
google-generativeai==0.4.1
gunicorn
gymnasium==0.29.1
httplib2~=0.22.0
httpx==0.27.2
ipykernel==6.27.1
ipython==8.17.2
ipywidgets==8.1.1
jieba==0.42.1
langchain~=0.1.11
langchain-community~=0.0.27
langchain-experimental~=0.0.53
langchain-openai~=0.0.8
libcst>=1.1.0
linearmodels
litellm==1.30.7
loguru==0.6.0
markdown
matplotlib
nbclient==0.9.0
nbformat==5.9.2
networkx~=3.2.1
numpy>=1.24.3
openai>=1.6.1
openpyxl
pandas==2.1.1
pandoc
passlib[bcrypt]
peewee
Pillow
playwright>=1.26
pydantic>=2.5.3
pypdf
python-docx==0.8.11
python-jose
python-multipart
python-socketio
PyJWT[crypto]
pyxlsb
PyYAML==6.0.1
qdrant-client==1.7.0
qianfan~=0.4.4
rank-bm25==0.2.2
requests
rich==13.6.0
scikit_learn==1.3.2
semantic-kernel==0.4.3.dev0
setuptools==65.6.3
socksio~=1.0.0
spark-ai-python~=0.3.30
sse-starlette
statsmodels
ta==0.10.2
tenacity==8.2.3
tiktoken==0.7.0
tqdm==4.66.2
typer==0.9.0
typing-extensions==4.9.0
typing-inspect==0.8.0
uvicorn[standard]
uuid
volcengine-python-sdk[ark]~=1.0.94
websocket-client~=1.8.0
websockets>=10.0,<12.0
wrapt==1.15.0
xlrd
zhipuai==2.0.1